.bouton {
  background-color: red;
  border-radius: 3px;
  height: 4.5vh;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  
}
.bouton2 {
     background-color: #934DD5;
  border-radius: 99px;
  height: 4.5vh;
  color: white;
  font-weight: bold;
  border: 1px solid white;
}

         /* bouton bleu */
         .btn-grad {
            background-image: linear-gradient(to right, #0575E6 0%, #021B79  30%, #0575E6  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            border: 0.5px solid white;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
/* bouton rose */
         .btn-4 {
            background-image: linear-gradient(to right, #D31027 0%, #EA384D  51%, #D31027  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            border: 0.5px solid white;
          }

          .btn-4:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
         
li {
    list-style: none;
}